<h2 id="title">About Bob Loblaw</h2>
<br>
<div class="row">
  <div class="col-sm-6">

    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/mwWAsNZTnug" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-sm-6">
    <img id="bob" src="assets/images/pet.jpg" alt="Bob Loblaw" />
    <h3>My Lab</h3>
    <h5>The loyal layers law lackey</h5>
  </div>
</div>
