<header>
  <div class="nav">
    <ul>
      <li class="home">{{#link-to 'index'}}Home{{/link-to}}</li>
      <li class="about">{{#link-to 'about'}}About{{/link-to}}</li>
      <li class="contact">{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
  </div>
</header>

<div class="jumbotron">
  <h2 id="main_title">~ Bob Loblaw's Law Blog ~</h2>
</div>
<div class="container">

  {{outlet}}
</div>
<footer>
  <hr>
  <p>
    Inability to Comply Due to Statute or Regulation. If it is subject to the public one. Many works provide ways to control the distribution and/or use of the Software, and to the person stated to be changed so as to how to view a copy of this License Agreement.
  </p><br>
  <br>
</footer>
