<h2>Contact Bob LobLaw</h2>
<h4>1-(800)-bob-laws</h4>
<p>Call for an *almost* free consultation today!</p>
<a href="bobloblaw@loblawlaw.com">bobloblaw@loblawlaw.com</a>

<div class="row bob-row">
  <div class="col-sm-4">
    <h3>Myself.</h3>
    <h5>Hard at work</h5>
    <img id="bob" src="assets/images/bob.jpg" alt="Bob Loblaw" />
  </div>
  <div class="col-sm-4">
    <h3>My beautiful home:</h3>
    <h5>  102 Emerald Bay
      Laguna Beach</h5>
    <img id="house" src="assets/images/my_home.png" alt="Bob Loblaw" />
  </div>
</div>

<p></p>
<p></p>
